* {
    box-sizing: border-box; 
    font-size: 0px;
}
h1 {
    text-align: center;
    font-size: 60px;
}
p {
    height: 200px;
    border: 5px solid white;
    display: inline-block;
}
@media (min-width: 768px) {
body {
    background-color: lightblue;
}

.pinkLine {
    background-color: #F5C6D6;
    width: 100%;
    margin: auto;
}

.redLines {
    background-color: #EE2E84;
    width: 25%;
    margin: auto;    
}

.blueLines {
    background-color: #85CFD8;
    width: 50%;
    margin: auto;    
}   

.greenLine {
    background-color: #8DC63F;
    width: 75%;
    margin: auto; 
}

.orangeLine {
    background-color: #E76E34;
    width: 25%;
    margin: auto; 
}
}


@media (max-width: 768px) {
    body {
        background-color: lightblue;
    }
    .pinkLine {
        background-color: #F5C6D6;
        width: 100%;
        margin: auto;
    }
    .redLines {
        background-color: #EE2E84;
        width: 100%;
        margin: auto;    
    }

    .blueLines {
        background-color: #85CFD8;
        width: 100%;
        margin: auto;    
    }  

    .greenLine {
        background-color: #8DC63F;
        width: 100%;
        margin: auto; 
    }

    .orangeLine {
        background-color: #E76E34;
        width: 100%;
        margin: auto; 
    }
}

    div {
        margin: auto;
        width: 60%
}