* {
    margin: 0;
    padding: 0;
}

/* body {
    display: grid;
    grid-template-columns: 3 1fr;
    grid-template-rows: 5 1fr;
} */

h1 {
    color: #857885;
    margin: auto;
    text-align: center;
    font-size: 60px;
    margin: 5px;
}
nav {
    text-align: center;
    height: 180px;
    padding: 40px;
    background-color: #cfc7d2;
    font-family: 'Cinzel', 'Bree Serif', serif, 'Courier New', Courier, monospace;
}

li {
    display: inline;
    list-style-type: none;
}

/* font-family: 'Bree Serif', serif;
font-family: 'Cinzel', serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Underdog', cursive; */

a {
    display: inline;
    font-size: 30px;
    padding: 150px;
}

.numbHead {
    font-size: 40px;
}

.tipTop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.belgDogs {
    height: 500px;
    width: 100%;
    background-image: url("https://iheartdogs.com/wp-content/uploads/2015/04/shutterstock_226643389.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 0 8px 8px rgba(207, 199, 210, .8) inset;
}

.wrap1, .wrap2 {
    height: 500px;
    width: 100%;
    text-align: center;
    background-image: url("https://data.whicdn.com/images/250450150/large.jpg");
}

.overlay {
    height: 100%;
    width: 100%;
    line-height: 1.2;
    font-size: 40px;
    font-family: 'Permanent Marker', 'Underdog', cursive, Courier, monospace;
    color: #553D36;
    background-color: rgba(207, 199, 210, 0.80)
}

.midDrift {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sleepyPup {
    height: 500px;
    width: 100%;
    background-image: url("https://image.freepik.com/free-photo/tiny-sleepy-dog-bed-morning_1439-22.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 0 8px 8px rgba(207, 199, 210, .8) inset;
}

.mid1, .mid2 {
    height: 500px;
    width: 100%;
    text-align: center;
    background-image: url("https://data.whicdn.com/images/250450150/large.jpg");
}

.reserve {
    text-align: center;
    font-size: 45px;
}

.reservation {
    padding-top: 30px;
}

.resDate1 {
    padding: 30px;
    text-align: center;
}

.bottomS {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 300px;
    width: 100%;
    background-image: url("https://media.giphy.com/media/IeDKafCf7wNYA/giphy.gif");
}

.contact {
    color: purple;
    text-align: center;
    font-size: 20px;
    display: block;
    text-align: center;
    background-color: #cfc7d2;
    font-family: 'Cinzel', 'Bree Serif', serif, 'Courier New', Courier, monospace;
}

/* iframe {
    box-shadow: 0 0 8px 8px rgba(207, 199, 210, .6) inset;    
} */

input {
    font-size: 30px;
}

button {
    font-size: 30px;
}

.priceTop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Bree Serif', serif, 'Courier New', Courier, monospace;
    background-color: #90D7FF;
}

.dayCare {
    height: 725px;
    width: 100%;
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
}

.overNight {
    height: 725px;
    width: 100%;
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
}

.dogSpa {
    height: 725px;
    width: 100%;
    margin-top: 50px;   
    font-size: 50px;
    text-align: center;
}

.dayPrice {
    display: grid;
    font-size: 40px;
    list-style-type: none;
}

.boardPrice {
    display: grid;
    font-size: 40px;
    list-style-type: none;
}

.spaPrice {
    display: grid;
    font-size: 40px;
    list-style-type: none;
}

.dayOpen {
    font-size: 20px;
    margin-top: 40px;
}

.overInc {
    font-size: 20px;
    margin-top: 50px;
}

.webCam {
    padding: 40px;
    text-align: center;
}

.camTalk {
    font-size: 40px;
    font-family: 'Permanent Marker', 'Underdog', cursive, Courier, monospace;
    color: #553D36;
    background-color: rgba(207, 199, 210, 0.80);
    margin-bottom: 20px;
}

.dogTrain {
    display: grid;
    grid-template-columns: repeat(1, 1fr);    font-size: 40px;
    font-family: 'Permanent Marker', 'Underdog', cursive, Courier, monospace;
    color: #553D36;
    background-color: rgba(207, 199, 210, 0.80);
    text-align: center;
}

.trainVids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 30px;
    font-family: 'Permanent Marker', 'Underdog', cursive, Courier, monospace;
    color: purple;
    background-color: rgba(207, 199, 210, 0.80);
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .tipTop {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .midDrift {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .bottomS {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .dogTrain {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
    .trainVids {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    .sleepyPup {
        background-size: contain;
    }
    
}