* {
    margin: 0px;
    padding: 0px;
}

input {
    justify-self: center;
}

.inputFormbox {
    border: 3px solid black;
    border-radius: 10px;
    margin-top:50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    align-items: center;
}


.firstNamebox {
    color: black;
    font-size: 15px;
    border: 5 solid black;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 15vw;
    margin: 20px;
}

.lastNamebox {
    color: black;
    font-size: 15px;
    border: 5 solid black;
    background-color: aquamarine;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    width: 15vw;
    margin: 20px;

}

.emailBox {
    color: black;
    font-size: 15px;
    border: 5 solid black;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 15vw;
    margin: 20px;

}

.placeBirthbox {
    color: black;
    font-size: 15px;
    border: 5 solid black;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 15vw;
    margin: 20px;
}

.phoneNumberbox {
    color: black;
    font-size: 15px;
    border: 5 solid black;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 15vw;
    margin: 20px;
}

.favoriteFoodbox{
    color: black;
    font-size: 15px;
    border: 5 solid black;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 15vw;
    margin: 20px;
}

.aboutYourselfbox {
    color: black;
    font-size: 15px;
    border: 5 solid black;
    background-color: aquamarine;
    display: grid;
    grid-area: 4 / 1 / 6 / 3; 
    width: 50vw;
    height: 8vw;
    margin: 30px;
}

button {
    width: 10vw;
    border: 1px inset black;
    font-size: 15px;
    position: absolute;
    left: 550px;
    top: 500px;
}

.outputFormbox {
    border: 3px solid black;
    border-radius: 10px;
    margin-top:50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: .5fr repeat(3, 1fr) 2fr; 
    
}

.badge {
    display: grid;
    font-size: 20px;
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;
    height: 40px;
}

.outputName {
    display: grid;
    grid-area: 2 / 1 / 3 / 2;
    font-size: 18px;
    text-align: left;
    margin-left: 40px;
    padding: 5px;

}
.outputemail {
    display: grid;
    grid-area: 4 / 1 / 5 / 2;
    font-size: 18px;
    text-align: left;
    margin-left: 40px;
    padding: 5px;
    
}

.outputplaceOfbirth {
    display: grid;
    grid-area: 3 / 1 / 4 / 2;
    font-size: 18px;
    text-align: left;
    margin-left: 40px;
    padding: 5px;
    
}

.outputphoneNumber {
    display: grid;
    grid-area: 2 / 2 / 3 / 3;
    font-size: 18px;
    text-align: left;
    /* margin: 20px; */
    padding: 5px;
    
}

.outputfavoriteFood {
    display: grid;
    grid-area: 3 / 2 / 4 / 3;
    font-size: 18px;
    text-align: left;
    padding: 5px;
    
}

.outputaboutYou {
    font-size: 18px;
    border: 2px solid black;
    height: 8vw;
    margin: 40px;
    display: grid;
    grid-area: 5 / 1 / 6 / 3; 
    
   
}