* {
    margin: 0px;
    padding: 0px;
}

/* a:visited {
    color: white;
} */

/* font-family: 'Muli', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Source Serif Pro', serif; */

.menuLink {
    font-family: 'Muli', sans-serif, monospace;
    color: white;
}



.homePageBg {
    background-image: url(https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=698&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
    
}

.navMenu {
    position: absolute;
    list-style: none;
    background-color: rgb(204, 195, 189);
    border-radius: 2px 7px 7px 2px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 12vw;
    font-size: 2vw;
    padding: 1vw;
    border: 2px solid black;
    padding: 5px;
    margin: 3px;
    font-family: 'Raleway', sans-serif;

}



.hidden {
    display: none;
}

.navIcon {
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
    text-align: center;
        -webkit-animation: wobble-hor-bottom 0.8s both;
                animation: wobble-hor-bottom 0.8s both;
    
  }

.linkedinLink {
    display: flex;
    justify-content: right;
    
}

.myName {
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: 600;
  }
  
.myName .letter {
    display: inline-block;
    line-height: 1em;
  }

.onlineResume {
    font-size: 20px;
}

.homePageBanner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-align: center;
      padding-top: 40vh;
      font-family: 'Raleway', sans-serif;;
}

.resumePage {
  background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  height: 100vh;
  width: 100vw;
  color: #DB5A42;

}

.resumeLink {
  color: #DB5A42;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

.contactPage {
    background-image: url(https://images.unsplash.com/photo-1510936470381-68e4c0a5e24b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.contactInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 44vh;
    font-size: 20px;
    font-family: 'Muli', sans-serif;
}

.contactInfoUnderline {
    text-decoration: underline;
}
  

/* Webkit stuff
* ----------------------------------------------
 * Generated by Animista on 2019-10-7 15:15:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 1s both;
	        animation: wobble-hor-bottom 1s both;
}

@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }

  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  