* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a:visited {
    color: white;
}

/* font-family: 'Muli', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Source Serif Pro', serif; */

.menuLink {
    font-family: 'Muli', sans-serif, monospace;
    color: white;
}



.homePageBg {
    background-image: url(https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=698&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
    
}

.navMenu {
    position: absolute;
    list-style: none;
    background-color: rgb(204, 195, 189);
    border-radius: 2px 7px 7px 2px;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 12vw;
    font-size: 20px;
    padding: 1vw;
    border: 2px solid black;
    padding: 5px;
    margin: 3px;
    font-family: 'Raleway', sans-serif;

}



.hidden {
    display: none;
}

.navIcon {
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
    text-align: center;
        -webkit-animation: wobble-hor-bottom 0.8s both;
                animation: wobble-hor-bottom 0.8s both;
    
  }

.linkedinLink {
    display: flex;
    justify-content: right;
    
}

.myName {
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: 600;
  }
  
.myName .letter {
    display: inline-block;
    line-height: 1em;
  }

.onlineResume {
    font-size: 20px;
}

.homePageBanner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      text-align: center;
      padding-top: 40vh;
      font-family: 'Raleway', sans-serif;;
}

.resumePage {
  background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  width: 100vw;
  color: #DB5A42;
  font-family: 'Raleway', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.resumeLink {
  color: #DB5A42;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
  font-size: 22px;
}

.aboutSkills{
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 30px;
  text-decoration: underline;
}

.projectsPage {
  background-image: url("https://images.unsplash.com/reserve/D0Ib5j36RymFSNPX5X1m_darkocean.jpg?ixlib=rb-1.2.1&auto=format&fit=crop&w=1510&q=80");
  height: 100vh;
  width: auto;
}

.projectLink {
  margin: 5px;
  font-size: 20px;
}

.projectBG {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
    justify-content: center;
    align-content: center;
    font-family: 'Source Serif Pro', serif;
    margin: 2px;
    margin-top: 150px;
}

.projectOne {
  display: grid;
  grid-column: 1 / 2;
  height: 50vh;
  padding: 10px;
  background-color: #A9CCE8;
  text-align: center;
}

.projectOneTitle, .projectTwoTitle, .projectThreeTitle {
  font-size: 25px;
  text-align: center;
}

.projectTwo {
  display: grid;
  grid-column: 2 / 3;
  height: 50vh;
  padding: 10px;
  background-color: #BACEFF;
}

.projectThree {
  display: grid;
  grid-column: 3 / -1;
  height: 50vh;
  padding: 10px;
  background-color:#A9CCE8;
}

 

.contactPage {
    background-image: url(https://images.unsplash.com/photo-1510936470381-68e4c0a5e24b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
}

.contactInfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 20px;
    font-family: 'Muli', sans-serif;
}

.grid5 {
  display: grid;
  grid-column: 2 / 3;
  padding-top: 20px;
}

.contactInfoUnderline {
    text-decoration: underline;
}
  

/* Webkit stuff
* ----------------------------------------------
 * Generated by Animista on 2019-10-7 15:15:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */


.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 1s both;
	        animation: wobble-hor-bottom 1s both;
}

@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }

  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-30px) rotate(-6deg);
              transform: translateX(-30px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(15px) rotate(6deg);
              transform: translateX(15px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-15px) rotate(-3.6deg);
              transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(9px) rotate(2.4deg);
              transform: translateX(9px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-6px) rotate(-1.2deg);
              transform: translateX(-6px) rotate(-1.2deg);
    }
  }
  
  /* @media screen and (max-width:768px) {
  body {
    background-image: url(https://images.unsplash.com/photo-1496268280706-ec91c5e133c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80);
  }
  .navMenu {
    width: 20vw;
  }
}

@media screen and (max-width: 1184px) {
  .contactPage {
    background-image: url(https://images.unsplash.com/photo-1496268280706-ec91c5e133c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80);
  }
} */

 @media screen and (max-width: 420px) {
  .navMenu {
    width: 23vw;
    font-size: 15px;
  }
  .aboutMe {
    font-size: 15px;
  }
  .aboutSkills {
    font-size: 18px;
  }
  .myname {
    font-size: 12px;
  }
  .homePageBanner {
    font-size: 12px;
  }
  .resumeLink {
    font-size: 20px;
  }
}

 @media screen and (max-width:768px) {
  body {
    background-image: url(https://images.unsplash.com/photo-1496268280706-ec91c5e133c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80);
  }
  .navMenu {
    width: 20vw;
  }
  .projectBG {
    grid-template-columns: repeat(1, 1fr);
  }
  .projectOne, .projectTwo, .projectThree {
    grid-column: 1 / -1;
  }
}

 @media screen and (max-width: 1184px) {
  .contactPage {
    background-image: url(https://images.unsplash.com/photo-1496268280706-ec91c5e133c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1334&q=80);
  }
} 
