* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* font-family: 'Handlee', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Fredericka the Great', cursive; 
font-family: 'Grenze', serif;
font-family: 'Playfair Display', serif; */

.overlay {
    height: 100%;
    width: 100%;
    line-height: 1.2;
    font-size: 25px;
    font-family: 'Grenze', serif, cursive, Courier, monospace;
    color: rgb(82, 56, 60);
    background-color: rgba(207, 199, 210, 0.50);

}

.overlayHome {
    color: white;
    height: 100%;
    width: 100%;
    line-height: 1.2;
    font-size: 25px;
    padding: 10px;
    font-family: 'Grenze', serif, cursive, Courier, monospace;
    background-color: rgba(207, 199, 210, 0.50);

}

.overlayAbout {
    height: 100%;
    width: 100%;
    line-height: 1.2;
    font-size: 25px;
    font-family: 'Grenze', serif, cursive, Courier, monospace;
    background-color: rgba(232, 233, 224, 0.42);
}

.menuTop {
    font-size: 25px;
}

.homePage {
    background-image: url(https://i.imgur.com/0Z6wZmr.jpg);
    height: 850px;
    width: auto;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-animation: kenburns-top-left 5s ease-out both;
	        animation: kenburns-top-left 5s ease-out both;

}

.wizard {
    display: grid;
    height: 200px;
    width: auto;
    position: absolute;
    left: 100px;
    top: 300px;
    
}

.classBox2 {
    background-image: url(https://i.imgur.com/IIVTghJ.gif);
    height: 100%;
    width: 100%;
    background-size: contain;
    background-size: auto;
    color: white;
}

.aboutPage {
    background-image: url(https://wallpaperaccess.com/full/117930.jpg);
    height: 100%;
    width: auto;
    /* background-repeat: repeat-y; */
    background-size: contain;
}

.aboutPage2 {
    color: rgb(141, 15, 36);
}

.charBuildPage {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    background-image: url(https://media.dnd.wizards.com/styles/second_hubpage_banner/public/images/head-banner/03_NEW-TO-DnD_Races_Heroes_Hero_140725.jpg);
    height: 750px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: auto;
    background-position: bottom right;
    object-fit: cover;
    
}

button {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-animation: jello-horizontal 2s both;
	        animation: jello-horizontal 2s both;
}

.radioButtons {
    margin: 10px;
    margin-left: 30px;
}

.homeLink {
    color: white;
    margin-left: 7px;
    margin-right: 7px;
}

.aboutLink {
    color: white;
    margin-left: 7px;
    margin-right: 7px;
}

.charBlink {
    color: red;
    margin-left: 7px;
    margin-right: 7px;
    padding: 2px;
    border: 1px white solid;
}

.classChoices {
    display: flex;
    justify-content: center;
    color: rgb(88, 5, 19);  
     
}

.raceChoices {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    color: rgb(88, 5, 19);
}

.classBox {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    text-decoration: underline;
    text-align: center;
    color: rgb(194, 6, 37);
}

.profInfo {
    display: flex;
    text-align: left;
    justify-content: left;
    /* padding-left: 8px; */
    text-indent: 6px;
    font-size: 23px;

}

.profInfo2 {
    display: flex;
    font-size: 23px;
}

.raceBox {
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    text-decoration: underline;
    text-align: center;
    color: rgb(194, 6, 37);
}

.showInfo {
    font-family: 'Fredericka the Great', cursive; 
    color: white;
    font-size: 23px;
    margin: 5px;
    padding: 8px;
}

.classInfoNameDisp {
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
    color: white;
    -webkit-animation: jello-horizontal 3s both;
	        animation: jello-horizontal 3s both;
}

.topMenustuff > div {
    display: flex;
    flex-wrap: wrap;

}

.kenburns-top-left {
	-webkit-animation: kenburns-top-left 5s ease-out both;
	        animation: kenburns-top-left 5s ease-out both;
}

@-webkit-keyframes kenburns-top-left {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 16% 16%;
              transform-origin: 16% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translate(-20px, -15px);
              transform: scale(1.25) translate(-20px, -15px);
      -webkit-transform-origin: top left;
              transform-origin: top left;
    }
  }
  @keyframes kenburns-top-left {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
              transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 16% 16%;
              transform-origin: 16% 16%;
    }
    100% {
      -webkit-transform: scale(1.25) translate(-20px, -15px);
              transform: scale(1.25) translate(-20px, -15px);
      -webkit-transform-origin: top left;
              transform-origin: top left;
    }
  }
  
.text-blur-out {
	-webkit-animation: text-blur-out 4.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            animation: text-blur-out 4.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            color: white;
            font-size: 50px;
            margin-left: 100px;
            margin-top: 5px;
            font-family: 'Fredericka the Great', cursive;
}

.text-blur-out2 {
	-webkit-animation: text-blur-out 4.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
            animation: text-blur-out 4.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2s both;
            color: white;
            font-size: 50px;
            margin-left: 100px;
            margin-top: 5px;
            font-family: 'Fredericka the Great', cursive;
}

.text-blur-out3 {
	-webkit-animation: text-blur-out 4.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 4s both;
            animation: text-blur-out 4.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) 4s both;
            color: white;
            font-size: 50px;
            margin-left: 100px;
            margin-top: 5px;
            font-family: 'Fredericka the Great', cursive;
}

 @-webkit-keyframes text-blur-out {
    0% {
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
    }
  }
  @keyframes text-blur-out {
    0% {
      -webkit-filter: blur(0.01);
              filter: blur(0.01);
    }
    100% {
      -webkit-filter: blur(12px) opacity(0%);
              filter: blur(12px) opacity(0%);
    }
  }
  
  .scale-in-ver-top {
	-webkit-animation: scale-in-ver-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-ver-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            color: rgb(141, 15, 36);

}

@-webkit-keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  
  .jello-horizontal {
	-webkit-animation: jello-horizontal 5s both;
	        animation: jello-horizontal 5s both;
}

@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }



/* @media (max-width: 760px) {
    .charBuildPage {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: auto;
    background-position: bottom;
    object-fit: cover;
    }
    .overlay {
        height: 100%;
        width: 100%;
        font-size: 20px;
        font-family: cursive, Courier, monospace;
        color: rgb(82, 56, 60);
        background-color: rgba(207, 199, 210, 0.50);
    
    }

} */



/* @media (max-width: 768px) {
    body {
        background-color: lightblue;
    }
    .pinkLine {
        background-color: #F5C6D6;
        width: 100%;
        margin: auto;
    }
    .redLines {
        background-color: #EE2E84;
        width: 100%;
        margin: auto;    
    } */